/* * {
    outline: 1px red solid;
    margin: 0;
    padding: 0;
  } */

html{
  scroll-behavior: smooth;
}

html, body{
    margin:0;
    box-sizing:50px;
}

/*----- Panel 1 -----*/
.panel1{
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Assets/wallp_panel1_mobile.jpg);
    background-size: cover;
    
}

.navigasi{
    position: relative;
    text-align: center;
}

.navigasi nav{
    padding-top: 10px;
}

.navigasi a{
    font-size: 3vw;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: 'Lora';
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.logo {
  padding-top: 20px;
}

.logo img{
  width: 25%;
  height: 25%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.tulisan {
    position: relative;
    width: 220px;
    height: 336px;
    margin-left: auto;
    margin-right: auto;
    font-family: Gelasio;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
}

.Grader {    
    display: flex;
    width: 8%;
    height: 8%;
    margin-bottom: -9%;
    margin-top: -7%;
    padding-left: 67%;
}

.Halal {    
    display: flex;
    width: 8%;
    height: 8%;
    margin-top: 1%;
    padding-bottom: 10%;
    padding-left: 78%;
}

.ContactUs {
  margin-left: -30%;
    margin-top: 8%;
}

@media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
  .tulisan {
    position: relative;
    width: 420px;
    height: 336px;
    margin-left: auto;
    margin-right: auto;
    font-family: Gelasio;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
  }

  .Grader {    
    display: flex;
    width: 6%;
    height: 6%;
    margin-bottom: -9%;
    margin-top: -4%;
    padding-left: 69%;
}

.Halal {    
    display: flex;
    width: 6%;
    height: 6%;
    margin-top: 3%;
    padding-bottom: 10%;
    padding-left: 78%;
}

.ContactUs {
  margin-left: -30%;
    margin-top: 25%;
}
}

@media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: landscape) {
  .Grader {    
    display: flex;
    width: 11%;
    height: 11%;
    margin-bottom: -45px;
    padding-left: 23.8%;
  }

  .Halal {    
    display: flex;
    width: 11%;
    height: 11%;
    margin-top: -9.2%;
    padding-bottom: 10%;
    padding-left: 66%;
  }
}

.RedBox {
    position:relative;
    width: 134px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    background: #C1393D;
    border-radius: 10px;
}

.text {
    position:relative;
    left: 18%;
    top: 24%;
    
    margin-left: auto;
    margin-right: auto;

    font-family: 'Lora';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 111.5%;
    letter-spacing: 0.11em;

    color: #ffffff;
}

.panel2 {
    background-color: #C7AF8B;
    height: max-content;
    display: block;
    justify-content: center;
}

.content1 {
    padding-top: 20px;
    display: flex;
}

.content2 {
    margin-top: -7%;
    display: flex;
}

@media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content2 {
    margin-top: -2%;
    display: flex;
  }
}

@media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: landscape) {
  .content2 {
    margin-top: 0.5%;
    display: flex;
  }
}

.content1 img,
 .content2 img{
    width: 140px;
    height: 140px;
}

.content1 img:hover,
 .content2 img:hover{
    opacity: 0.7;
}

.content1 ul,
 .content2 ul{
    list-style: none;
    
    margin-left: auto;
    margin-right: auto;
}

.content1 ul li,
 .content2 ul li{
    display: inline;
    list-style: none;
    float: left;
    text-align: center;
}

.content1 ul li a,
 .content2 ul li a{
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-decoration: none;
    color: #665344;
    font-size: 12px;
    font-weight: bold;
}

.content1 ul li a:hover,
 .content2 ul li a:hover{
    opacity: 1.0;
}

.content_kiri {
    margin-left: -8.85%;
    margin-right: 3.4%;
}

/* @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content_kiri {
    margin-left: -8%;
    margin-right: 5%;
  }

  .content1 ul,
 .content2 ul{
    list-style: none;
    
    margin-left: auto;
    margin-right: 50%;
  }
} */


  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    padding-left: 7.5%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6);
  }

  
  
  /* Modal Content (image) */
  .modal-content {
    display: block;
    max-width: 85%;
    max-height: 100%;
    background-color: #f8efe3;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.1s;
    animation-name: zoom;
    animation-duration: 0.1s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0.5)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0.5)} 
    to {transform:scale(1)}
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

.container{
    position: relative;
    height: 90%;
    margin: 0 auto;
    max-width: max-content;
    max-height: max-content;
}


.container{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

/* ------------ MODAL WINDOWS FOR TEXT --------------*/

.myText {
    cursor: pointer;
    transition: 0.3s;
  }

  .myText:hover {opacity: 0.7;}

.panel3{
  height: max-content;
  background-size: 100%;
  background-image: url(assets/wallpaper\ tembok\ \(1\).jpg);
}

@media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
  .panel3{
    height: max-content;
    background-size: 100%;
    background-image: url(Assets/wallpaper\ tembok\(ipad\).jpg);
  }
}

.logo_p3 {
  padding-top: 20px;
}

.logo_p3 img{
  width: 25%;
  height: 25%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.product{
  display: flex;

  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 113%;
  /* or 34px */

  justify-content: center;
  letter-spacing: 0.015em;

  color: #665344;
}

.available{
  display: flex;
  padding-top: 3px;
  
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 113%;
  /* or 14px */
  
  justify-content: center;
  letter-spacing: 0.065em;
  
  color: #665344;
}

.table3{
  display: flex;
  justify-content: center;
}

table img{
  width: 63px;
  height: 68px;
}

.wa_logo{
  padding-top: 2%;
}

.button3{
  background-color: #C7AF8B;
  border: none;
  border-radius: 19px;
  padding: 8px 43px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.font3{
  font-weight: bold;
  font-size: 12px;
  font-family: 'Lora';
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

.buttonpanel3{
  margin-top: -10px;
  display: flex;
  justify-content: center;
}

/*----- Slideshow -----*/
.mySlides {display: none;}

.mySlides img {
  height: 60%;
  width: 60%;
  margin-left: 19.5%;
  margin-bottom: 8%;
}

@media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
  .mySlides img {
    height: 40%;
    width: 40%;
    margin-top: -5%;
    margin-left: 30.5%;
    margin-bottom: 8%;
  }
}

@media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: landscape) {
  .mySlides img {
    height: 35%;
    width: 35%;
    margin-top: 4%;
    margin-left: 32.5%;
    margin-bottom: 8%;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .mySlides img {
    height: 40%;
    width: 40%;
    margin-top: -5%;
    margin-left: 30.5%;
    margin-bottom: 8%;
  }
}

/* Slideshow container */
.slideshow-container {
  padding-top: 5%;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*----- Panel 4 -----*/
.panel4{
  background-color: white;
  height: max-content;
}

.panel4 font{
  position: absolute;
  width: max-content;
  height: 83px;
  left: 59px;
  padding-top: 30px;

  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 113%;
  /* or 41px */

  letter-spacing: 0.015em;

  color: #000000;
}

.panel4 ul{
  padding-left: 60px;
  padding-top: 90px;
  list-style: none;
}

.panel4 ul .email_icon:before{
  content: '\f0e0';
  font-family: 'FontAwesome';
  margin-right: 1rem;
}

.panel4 ul .phone::before{
  content: '\f095';
  font-family: 'FontAwesome';
  margin-right: 1rem;
}

.panel4 ul .wa::before{
  content: '\f232';
  font-family: 'FontAwesome';
  margin-right: 1rem;
}

.panel4 li{
  padding-top: 10px;
}

.flex {
  display:flex;
  padding-left: 50px;
  padding-top: 25px;
}

.flex div{
  padding-right: 20px;
}

.flex img {
  width: 40px;
  height: 40px;
}

.flex img:hover{
  transform: translateY(-10px);
}

.footer_nav ul{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: disc;
  margin-top: -5%;
  padding-left: 80px;
}

@media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
  .footer_nav ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: disc;
    margin-top: -50px;
    padding-left: 80px;
  }
}

.footer_nav a{
  text-decoration: none;
  color: black;
}

.footer_nav li::marker {
  font-size: 25px;
}

footer{
  display: flex;
  justify-content: center;
  background-color: #A4282A;
  height: max-content;
  width: 100%;
}

footer p{
  color: white;
}

/* PANEL GOJEK DAN GRABFOOD */

.panel3b {
  background-size:contain;
  background-color: rgb(231, 229, 229);
  display: flex;
  justify-content: center;

}

.del {
  margin-top: -5%;
  margin-bottom: -5%;
  padding-left: 50px;
}

.del td{
  padding-right: 15px;
}

.del img{
  width: 55px;
  height: 55px;
}

.del .text_p3b{
  height: 100px;
  width: 150px;
  margin-left: -10%;
}
